* {
  margin: 0;
  padding: 0;
  border: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 500px;
  height: 500px;
  width: 450px;
  background-color: #635985;
  font-size: 1.5rem;
  color: #ffffe8;
}
.panel-one {
  height: 3.5rem;
  width: 100%;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff2f2;
  font-style: italic;
}

/* .main {
} */
label {
  padding-left: 2rem;
}

input {
  border-radius: 10px;
  outline: none;
  border: none;
  height: 2rem;
  width: 60%;
}

.amount-part {
  height: 3rem;
  
  display: flex;
  align-items: center;
}

.rate-part {
  height: 3rem;
  
  display: flex;
  align-items: center;
}
.time-part {
  height: 3rem;
  
  display: flex;
  align-items: center;
}
.submit-part {
  height: 3rem;
  border-top:2px solid beige ;
  border-bottom: 2px solid beige;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-part button:hover{
  background-color: rgb(237, 255, 159);
}
.submit-part button {
  height: 2.5rem;
  width: 6rem;
  border-radius: 2rem;
  border: none;
}
.output {
  height: 3rem;
}
/* margins for all inputs  */
.amount-part input {
  text-align: center;
  margin-left: 0.4rem;
}

.rate-part input {
  text-align: center;
  margin-left: 2.4rem;
}
.time-part input {
  text-align: center;
  margin-left: 2rem;
}
