* {
  margin: 0;
  padding: 0;
  border: border-box;
}
body {
  background-color: #F5EEE6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border-radius:10% ;
  max-width: 500px;
  height: 500px;
  width: 450px;
  background-color: #3D3B40;
  font-size: 1.5rem;
  color: #BFCFE7;
}
.panel-one {
  height: 3.5rem;
  width: 100%;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff2f2;
  font-style: italic;
}

/* .main {
} */

.amount-part label,
.rate-part label,
.time-part label,
.output label {
  padding-left: 2rem;
}

.amount-part input,
.rate-part input,
.time-part input {
  border-radius: 10px;
  outline: none;
  border: none;
  height: 2rem;
  width: 60%;
}

.amount-part {
  height: 3rem;
  display: flex;
  align-items: center;
}

.rate-part {
  height: 3rem;
  display: flex;
  align-items: center;
}
.time-part {
  height: 3rem;
  display: flex;
  align-items: center;
}

.submit-part {
  height: 3rem;
  border-top: 2px solid beige;
  border-bottom: 2px solid beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 6rem;
  height: 2.5rem;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 0.8rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
}

button::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

button:active {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  transition: 0.5s;
}
.output {
  height: 3rem;
}

/* Interest options styling */

.options-part {
  margin-top: 1rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 2px solid white;
  height: 3.5rem;
  width: 100%;
}

/* margins for all inputs  */
.amount-part input {
  text-align: center;
  margin-left: 0.4rem;
}

.rate-part input {
  text-align: center;
  margin-left: 2.4rem;
}
.time-part input {
  text-align: center;
  margin-left: 1.8rem;
}
